ZEROSTEP_TOKEN=Your token here
USERNAME=Your username here
PASSWORD=Your password here
LOCAL_TEST_TIMEOUT=your time it replaces {timeout: time} inside tests
TEST_TIMEOUT=your test timeout
GLOBAL_TIMEOUT=your total time for all the test
ACTION_TIMEOUT=your action time
NAVIGATION_TIMEOUT=your navigation time
BASE_URL=Your base url
